.answer-box {
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    width: 570px;
    padding: 20px 80px 20px 50px;
    margin: 10px 0px;
}

.edit-answer-btn-container {
    display: flex;
    justify-content: end;
}

.edit-answer-btn-container button {
    background-color: rgba(255, 255, 255, .3);
    margin-right: 5px;
    border: 1px solid var(--accent-color-3);
    border-radius: 2px;
    padding: 3px 7px;
}

.edit-answer-btn-container button:hover {
    background-color: var(--accent-color-3);
}
