/* TODO Add site wide styles */

:root {
    --main-color: #e4e4f8;
    --accent-color-1: #2f2e33;
    --accent-color-2: #f1ede9;
    --accent-color-3: #998e97;

    --body-font: Arial, Helvetica, sans-serif;

}

body {
    font-family: var(--body-font);
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--accent-color-1);
}
