.question-page {
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* margin-left: 250px; */
    align-items: center;
    margin-top: 100px;
}

.question-detail-box {
    display: flex;
    justify-content: end;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 7px;
    padding: 20px 80px 20px 50px;
    box-shadow: 5px 5px 5px var(--accent-color-3);
    width: 570px;
    background-color: rgb(255, 255, 255);
}


.detail-button-container {
    display: flex;
    justify-content: end;
}

.detail-button-container button {
    background-color: rgba(255, 255, 255, .3);
    margin-right: 5px;
    border: 1px solid var(--accent-color-3);
    border-radius: 2px;
    padding: 3px 7px;
}

.detail-button-container button:hover {
    background-color: var(--accent-color-3);
}

.author {
    font-style: italic;
    font-size: 15px;
}

.details {
    font-size: var(--h5-size);
}
