.question-list {
    width: 570px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}


.question-box {
    border: 1.5px solid var(--accent-color-1);
    border-radius: 7px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .5);
    margin-top: 15px;
    font-size: var(--h4-size);
    box-shadow: 5px 5px 5px var(--accent-color-3);
}
