.question-list {
    width: 570px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 90px;
}


.question-box {
    border: 1px solid rgba(0, 0, 0, 0.226);
    border-radius: 7px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: var(--h4-size);
    box-shadow: 5px 5px 5px var(--accent-color-3);
}
