nav {
    background-color: white;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.226);
    width: 100%;
    height: auto;
    top: 0px;
    position: fixed;
    box-shadow: 5px 5px 5px var(--accent-color-3);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}
