nav {
    background-color: white;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.226);
    width: 100%;
    height: auto;
    top: 0px;
    position: fixed;
    box-shadow: 5px 5px 5px var(--accent-color-3);
    display: inline-block;
    text-align:center;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    /* display: inline-block; */
    margin-right: 30px;
    font-size: 18px;
}

.nav-div {
    width: 700px;
}
